@CHARSET "ISO-8859-1";

/*=== STYLO TD, TABLE, H1, H2, P === */
table{
		width:70%;
		height:10%;
		border-style: none;
		border-collapse: collapse;
		background-color:  #def;
		
}



td{
	width:100px;
	height:30px;
	border-style: none;
	border-width: 2px;
}

p{
	  color: #46a;
	  font-family: fantasy;
      font-size: 18px;
}

h1{
	  color: #def;
	  text-align: center;
	  font-size: 35px;
}

h2{
	 color: #def;
	 font-size: 30px;
}



/*=== FIM STYLO TD, TABLE, H1, H2, P === */


::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}
::-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #fff;
}
::-webkit-input-placeholder { /* WebKit browsers */
	color: #fff;
}



bordas{
	 border-radius: 10px;

}

/*=== STYLE DO INPUT === */
input:invalid, input:focus:invalid {
    background-color: #F08080;
}
input:valid {
    background-color: #87CEFA;
}
/*=== FIM DO STYLE DO INPUT === */

